.main {
	/* background-color: rgb(11, 13, 20); */
	background-color: #11161f;
	min-height: 100vh;
	/* background-color: #1f2937; */
}
.bannerArea {
	background: inherit;
}
.relative {
	position: relative;
}

.aboutContent {
	margin-top: 190px;
	text-align: center;
}
.aboutContent h1 {
	margin-bottom: 15px;
}
@media (max-width: 767px) {
	.aboutContent {
		margin-top: 150px;
	}
}
.aboutContent h1 {
	font-size: 60px;
	font-weight: 700;
}
@media (max-width: 767px) {
	.aboutContent h1 {
		font-size: 35px;
	}
}
.aboutContent .box {
	border: 2px solid #fff;
	padding: 10px 18px;
	border-radius: 25px;
	display: inline-block;
}
@media (max-width: 767px) {
	.aboutContent .box {
		padding: 7px 15px;
	}
}
.aboutContent .box a {
	color: #fff;
	font-size: 15px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	padding-left: 16px;
	padding-right: 16px;
	border-right: 2px solid #fff;
}
@media (max-width: 380px) {
	.aboutContent .box a {
		font-size: 13px;
	}
}
.aboutContent .box a:first-child {
	padding-left: 0;
}
.aboutContent .box a:last-child {
	border-right: 0;
	padding-right: 0;
}
.aboutContent .box a:hover {
	color: #e45447;
}

.aboutArea .sectionTitle {
	margin-bottom: 0;
}
@media (max-width: 1024px) {
	.aboutArea .sectionTitle {
		padding-bottom: 0px;
	}
}
@media (max-width: 991px) {
	.aboutArea .sectionTitle {
		margin-top: 1rem;
	}
}

.sectionGap {
	padding: 150px 0;
}
@media (max-width: 1024px) {
	.sectionGap {
		padding: 60px 0;
	}
}

.sectionGapTop {
	padding-top: 150px;
}
@media (max-width: 1024px) {
	.sectionGapTop {
		padding: 60px 0;
	}
}

.sectionGapBottom90 {
	padding-bottom: 130px;
}
@media (max-width: 1024px) {
	.sectionGapBottom90 {
		padding-bottom: 30px;
	}
}

.sectionTitle {
	margin-bottom: 80px;
}
@media (max-width: 1024px) {
	.sectionTitle {
		margin-bottom: 30px;
	}
}
.sectionTitle h2 {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 70px;
	text-transform: capitalize;
	position: relative;
	line-height: 44px;
}
@media (max-width: 1024px) {
	.sectionTitle h2 {
		font-size: 40px;
		margin-bottom: 30px;
	}
}
@media (max-width: 1024px) {
	.sectionTitle h2 {
		font-size: 30px;
	}
}
.sectionTitle h2:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -35px;
	width: 10px;
	height: 10px;
	background: #e45447;
	border-radius: 7px;
}
@media (max-width: 1024px) {
	.sectionTitle h2:before {
		bottom: -15px;
	}
}
.sectionTitle h2:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -31px;
	width: 100px;
	height: 2px;
	background: #e45447;
}
@media (max-width: 1024px) {
	.sectionTitle h2:after {
		bottom: -11px;
	}
}
.sectionTitle p {
	max-width: 535px;
	margin-bottom: 0;
}

.techUsed {
	width: 100%;
	margin-top: -2rem;
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
@media (max-width: 1050px) {
	.code {
		padding: 1.5rem 0.5rem 1rem;
	}
	.techUsed {
		margin-top: 0;
	}
}
.tech {
	background-color: #0b0d14;
	margin-right: 10px;
	margin-top: 1rem;
	padding: 4px 10px;
	/* color: #e45447; */
	font-size: 14px;
	font-weight: 700;
	border-radius: 7px;
	/* border: 2px solid #e45447; */
}

.links {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
	/* border-bottom: 1px solid white; */
}
.links::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 0;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 2px;
	border-bottom: 1px solid white;
}

.links svg {
	width: 22px;
	margin-right: 15px;
}
.links svg:hover .st0 {
	fill: #e45447;
	transition: all 200ms;
}
.links a {
	color: white;
	font-size: 1.3rem;
}
.links a:hover {
	transition: all 200ms;
	color: #e45447;
}
.links i {
	margin-top: 10px;
	/* color: white; */
}
.st0 {
	fill: #fff;
}
