.main {
	/* background-color: rgb(11, 13, 20); */
	background-color: #11161f;
	min-height: 100vh;
	/* background-color: #1f2937; */
}
.bannerArea {
	background: inherit;
}
.relative {
	position: relative;
}

.aboutContent {
	margin-top: 190px;
	text-align: center;
}
.aboutContent h1 {
	margin-bottom: 15px;
}
@media (max-width: 767px) {
	.aboutContent {
		margin-top: 150px;
	}
}
.aboutContent h1 {
	font-size: 60px;
	font-weight: 700;
}
@media (max-width: 767px) {
	.aboutContent h1 {
		font-size: 35px;
	}
}
.aboutContent .box {
	border: 2px solid #fff;
	padding: 10px 18px;
	border-radius: 25px;
	display: inline-block;
}
@media (max-width: 767px) {
	.aboutContent .box {
		padding: 7px 15px;
	}
}
.aboutContent .box a {
	color: inherit;
	font-size: 15px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	padding-left: 16px;
	padding-right: 16px;
	border-right: 2px solid #fff;
}
@media (max-width: 380px) {
	.aboutContent .box a {
		font-size: 13px;
	}
}
.aboutContent .box a:first-child {
	padding-left: 0;
}
.aboutContent .box a:last-child {
	border-right: 0;
	padding-right: 0;
}
.aboutContent .box a:hover {
	color: #e45447;
}
.tomato {
	color: #e45447 !important;
}
.tomato:hover {
	color: #a5a5a5 !important;
}
.aboutArea .sectionTitle {
	margin-bottom: 0;
}
@media (max-width: 1024px) {
	.aboutArea .sectionTitle {
		padding-bottom: 0px;
	}
}
@media (max-width: 991px) {
	.aboutArea .sectionTitle {
		margin-top: 1rem;
	}
}

.ptb_100 {
	padding: 100px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.ptb_100 {
		padding: 70px 0;
	}
}

@media (max-width: 767px) {
	.ptb_100 {
		padding: 50px 0;
	}
}

.contact_page .contact_area .section_heading > h2::after {
	left: 0;
	-webkit-transform: inherit;
	transform: inherit;
	color: white;
}

.section_heading {
	margin-bottom: 80px;
}

@media (max-width: 991px) {
	.section_heading {
		margin-bottom: 50px;
	}
}

.section_heading > span {
	color: var(--primary-t-color);
}

.section_heading > h2 {
	position: relative;
}

@media (max-width: 575px) {
	.section_heading > h2 {
		line-height: 1.5;
	}
}

.section_heading > h2::after {
	position: absolute;
	content: '';
	height: 2px;
	width: 70px;
	background-color: #e45447;
	bottom: -15px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

/* ******************************
:: 25.0 CONTACT AREA CSS
****************************** */
.contact_us .social_icon {
	display: inline-block;
	height: 45px;
	width: 45px;
	line-height: 45px;
	font-size: 18px;
	text-align: center;
	background-color: #e45447;
	color: #fff;
	border-radius: 4px;
}

.contact_us ol li,
.contact_us ul li {
	list-style: none;
}
.contact_us ol li a,
.contact_us ul li a {
	color: white;
}
.contact_us ol li a:hover,
.contact_us ul li a:hover {
	color: #e45447;
}

.contact_box input,
.contact_box textarea {
	font-size: 14px;
	height: 50px;
	padding: 0 15px;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	-webkit-box-shadow: 0 5px 10px #0000001f;
	box-shadow: 0 5px 10px #0000001f;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.borderLeft {
	border-left: 2px solid #e45447;
}

.contact_box input::-webkit-input-placeholder,
.contact_box textarea::-webkit-input-placeholder {
	color: rgba(68, 68, 68, 0.6);
}

.contact_box input:-ms-input-placeholder,
.contact_box textarea:-ms-input-placeholder {
	color: rgba(68, 68, 68, 0.6);
}

.contact_box input::-ms-input-placeholder,
.contact_box textarea::-ms-input-placeholder {
	color: rgba(68, 68, 68, 0.6);
}

.contact_box input::placeholder,
.contact_box textarea::placeholder {
	color: rgba(68, 68, 68, 0.6);
}

.contact_box textarea {
	height: 160px;
	padding: 15px;
}

.contact_box button {
	height: 60px;
	border-radius: 8px;
	background: #dd4a3c !important;
}
.contact_box button:hover {
	background: #703737;
}

.map-area {
	height: 550px;
	width: 100%;
}

@media (max-width: 575px) {
	.map-area {
		height: 450px;
	}
}

.map-area iframe {
	height: 100%;
	width: 100%;
}

.svg_plane {
	width: 20px;
}

.svg_body {
	position: relative;
}
.svg2 {
	position: absolute;
	width: 130px;
	right: 1.1rem;
	bottom: 7.2rem;
}
