.main {
	/* background-color: rgb(11, 13, 20); */
	background-color: #11161f;
	min-height: 100vh;
	/* background-color: #1f2937; */
}
.bannerArea {
	background: inherit;
}
.relative {
	position: relative;
}

.aboutContent {
	margin-top: 190px;
	text-align: center;
}
.aboutContent h1 {
	margin-bottom: 15px;
}
@media (max-width: 767px) {
	.aboutContent {
		margin-top: 150px;
	}
}
.aboutContent h1 {
	font-size: 60px;
	font-weight: 700;
}
@media (max-width: 767px) {
	.aboutContent h1 {
		font-size: 35px;
	}
}
.aboutContent .box {
	border: 2px solid #fff;
	padding: 10px 18px;
	border-radius: 25px;
	display: inline-block;
}
@media (max-width: 767px) {
	.aboutContent .box {
		padding: 7px 15px;
	}
}
.aboutContent .box a {
	color: #fff;
	font-size: 15px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	padding-left: 16px;
	padding-right: 16px;
	border-right: 2px solid #fff;
}
@media (max-width: 380px) {
	.aboutContent .box a {
		font-size: 13px;
	}
}
.aboutContent .box a:first-child {
	padding-left: 0;
}
.aboutContent .box a:last-child {
	border-right: 0;
	padding-right: 0;
}
.aboutContent .box a:hover {
	color: #e45447;
}

/*-------- Start About Area ------------*/
.aboutArea .sectionTitle {
	margin-bottom: 0;
}
@media (max-width: 1024px) {
	.aboutArea .sectionTitle {
		padding-bottom: 0px;
	}
}
@media (max-width: 991px) {
	.aboutArea .sectionTitle {
		margin-top: 1rem;
	}
}

.categoryPage {
	margin-top: 5rem;
}
.singleCategory {
	/* background: #fff; */
	/* margin-bottom: 20px; */
	position: relative;
	overflow: hidden;
}
.singleCategory a {
	font-weight: 600;
	color: white;
}
.singleCategory .short_details {
	/* margin-top: -62px; */
	/* right: -3%; */
	top: 0;
	left: 0;
	/* bottom: 0; */
	width: 100%;
	height: 100%;
	padding: 30px;
	z-index: 555;
	position: absolute;
	background: rgba(0, 0, 0, 0.692);
	text-align: center;
	transition: all 200ms linear 0s;
	/* display: none; */
	justify-content: center;
	align-items: center;
	transform: translateY(100%);
	opacity: 0;
}
@media (max-width: 1199px) {
	.singleCategory .short_details {
		padding: 15px;
	}
}
.singleCategory:hover .short_details {
	display: flex;
	transform: translateY(0);
	transform-origin: bottom;
	opacity: 1;
}
.singleCategory .short_details a {
	color: #f8f8f8;
	font-weight: 600;
}

.singleCategory .short_details a:hover {
	color: #e45447;
}
.singleCategory .short_details h4 {
	font-size: 20px;
	font-weight: 700;
	border: 2px solid white;
	padding: 6px 3.5px;
}
.singleCategory .thumb {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.singleCategory .thumb img {
	width: 100%;
	min-height: 100%;
}

@media (max-width: 991px) {
	.singleCategory .thumb {
		height: auto;
	}
}
.singleCategory:hover img {
	transform: scale(1);
}

.margin_0 {
	padding-right: 0;
	padding-left: 0;
}
