/* @import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css"); */
/* @import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"); */
/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

body {
	font-family: 'Karla', sans-serif;
	font-style: 400;
}

/* customized the scroll bar here */

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #1f2937 white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* scrollbar-color: #e45447 white; */
	/* scrollbar-color: #1f2937 white; */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
	background-color: #1f2937;
	/* background-color: #e45447; */
	border-radius: 20px;
	border: 3px solid #ffffff;
}
span.carousel-control-prev-icon,
span.carousel-control-next-icon {
	display: none !important;
}

a {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
::-moz-selection {
	/* Code for Firefox */
	background-color: #e45447;
	color: #fff;
}

::selection {
	background-color: #e45447;
	color: #fff;
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #777777;
	font-weight: 300;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #777777;
	opacity: 1;
	font-weight: 300;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #777777;
	opacity: 1;
	font-weight: 300;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #777777;
	font-weight: 300;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #777777;
	font-weight: 300;
}

iframe {
	border: 0;
}

a,
a:focus,
a:hover {
	text-decoration: none;
	outline: 0;
}
