/* @import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css"); */
/* @import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"); */
/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body {
	font-family: 'Karla', sans-serif;
	font-style: 400;
}
.mont {
	font-family: Montserrat !important;
}
/* customized the scroll bar here */

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #1f2937 white;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* scrollbar-color: #e45447 white; */
	/* scrollbar-color: #1f2937 white; */
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
	background-color: #1f2937;
	/* background-color: #e45447; */
	border-radius: 20px;
	border: 3px solid #ffffff;
}
span.carousel-control-prev-icon,
span.carousel-control-next-icon {
	display: none !important;
}

a {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
::-moz-selection {
	/* Code for Firefox */
	background-color: #e45447;
	color: #fff;
}

::selection {
	background-color: #e45447;
	color: #fff;
}

::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #777777;
	font-weight: 300;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #777777;
	opacity: 1;
	font-weight: 300;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #777777;
	opacity: 1;
	font-weight: 300;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #777777;
	font-weight: 300;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #777777;
	font-weight: 300;
}

iframe {
	border: 0;
}

a,
a:focus,
a:hover {
	text-decoration: none;
	outline: 0;
}

.slick-slider .slick-dots li button {
	width: 30px;
	height: 1px;
	padding: 1.5px;
	content: '';
	background: #7e7e7e;
}
.slick-slider .slick-dots li button {
	width: 30px;
	height: 1px;
	padding: 1.5px;
	margin: 10px 0;
	content: '';
	background: #7e7e7e;
}
.slick-slider .slick-dots li.slick-active button {
	background: #e45447;
}

.slick-slider .slick-dots li button:before {
	content: '';
}

.slick-slider .slick-dots li {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-slider .slick-dots {
	bottom: -65px;
}

.slick-slider .slick-next {
	right: 50px;
}
.slick-slider .slick-prev {
	left: 50px;
}

.slick-slider .slick-prev,
.slick-slider .slick-next {
	top: 105%;
}

@media (max-width: 767px) {
	.slick-slider .slick-prev,
	.slick-slider .slick-next {
		top: 113%;
	}
}

.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
	font-family: none;
	font-size: 35px;
	font-weight: bold;
	color: tomato;
}

header.nav-bar--hidden {
	transform: translateY(-100%);
}
