/* @media (min-width: 325px) {
	.Main, .Main2 {
		height: 100vh;
	}
} */
.Main {
	width: 100%;
	height: 100%;
	background: url('../images/bg.jpg');
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.Main2 {
	width: 100%;
	height: 100%;
	background: url('../images/csp-branding.jpg');
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.main-image {
	width: 100%;
	height: 100vh !important;
}
.Main::before,
.Main2::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #1f29379a;
}
@media (min-width: 400px) {
	.Main,
	.Main2 {
		height: 100vh;
	}
}
/* @media only screen and (device-width: 360px) and (max-device-width: 767px) {
	.Main, .Main2 {
		height: 100vh;
	}
} */
/* medid queries for iphone x */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
	.Main,
	.Main2 {
		height: 100vh;
	}
}
@media only screen and (device-width: 360px) and (device-width: 640px) and (-webkit-min-device-pixel-ratio: 3) {
	.Main,
	.Main2 {
		height: 100%;
	}
}
@media only screen and (min-device-width: 360px) and (min-device-height: 767px) and (-webkit-min-device-pixel-ratio: 3) {
	.Main,
	.Main2 {
		height: 100vh;
	}
}
@media only screen and (min-device-width: 375px) and (min-device-height: 800px) and (-webkit-min-device-pixel-ratio: 3) {
	.Main,
	.Main2 {
		height: 100vh;
	}
}
/* @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
	.Main, .Main2 {
		height: 100%;
	}
} */

.headingText {
	display: flex;
	flex-direction: column;
	align-self: center;
	margin: auto;
	padding: 0 3rem;
	z-index: 5;
	/* text-align: center; */
}
.headingText p {
	color: white;
	font-size: 24px;
	padding: 2rem 0;
	/* background: rgba(41, 41, 41, 0.671); */
}
.title {
	/* border-bottom: 2.5px solid white; */
	margin-top: 1.1rem;
	font-size: 17px;
	font-weight: 700;
	color: white;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.title div {
	margin-right: 3px;
	width: 30px !important;
	height: 3px !important;
	border-bottom: 2.5px solid white;
}
.title p {
	padding: 0 !important;
	margin: 0 !important;
	font-size: 14px;
	font-weight: bolder;
}
.playfair {
	font-family: 'Playfair Display', serif;
}
.homeName {
	font-size: 6rem;
}
.socials {
	position: fixed;
	left: 2.3rem;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 15;
}
.socials a {
	color: white;
	font-size: 1.2rem;
	margin-bottom: 5px;
	transition: 500ms;
}
.socials a:hover {
	color: #e45447;
}
.socials .Line {
	height: 100px;
	border-left: 1px solid white;
}
@media (max-width: 991px) {
	.homeName {
		font-size: 4.5rem;
	}
	.headingText p {
		font-size: 20px;
		padding: 1.2rem 0rem 1.3rem 0rem;
	}
	.title {
		font-size: 14px;
	}
	.title p {
		padding: 0 !important;
		margin: 0 !important;
		font-size: 18px;
		font-weight: bolder;
	}
	.socials {
		left: 1rem;
	}
	.socials a {
		font-size: 0.9rem;
	}
}
@media (max-width: 400px) {
	.homeName {
		font-size: 3.5rem;
	}
	.hello {
		font-size: 21px;
	}
}
@media (max-width: 400px) {
	.headingText {
		padding-top: 9rem;
		padding-bottom: 3rem;
	}
}
.hello {
	font-size: 26px;
	margin-bottom: 0 !important;
}

.action {
	width: 100%;
}

/*-------- Start About Area ------------*/
.aboutArea .section-title {
	margin-bottom: 0;
}
@media (max-width: 1024px) {
	.aboutArea .section-title {
		padding-bottom: 0px;
	}
}
@media (max-width: 991px) {
	.aboutArea .section-title {
		margin-top: 1rem;
	}
	/* .aboutArea .about-left {
		display: none;
	} */
}
.aboutArea .primaryBtn.white {
	margin-right: 1rem;
}
@media (max-width: 1199px) {
	.aboutArea .primaryBtn.white {
		margin-right: 10px;
		margin-bottom: 15px;
	}
}
@media (max-width: 991px) {
	.aboutArea .primaryBtn.white {
		margin-bottom: 0px;
	}
}
@media (max-width: 374px) {
	.aboutArea .primaryBtn.white {
		margin-right: 30px;
		display: block;
		margin-bottom: 15px;
	}
	.aboutArea .primaryBtn {
		width: 100%;
	}
}

.primaryBtn {
	color: #fff;
	padding: 0 52px;
	background: #e45447;
	overflow: hidden;
	border-radius: 40px;
	font-size: 15px;
	font-weight: 600;
	display: inline-block;
	border: 1px solid #e45447;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	cursor: pointer;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
@media (max-width: 767px) {
	.primaryBtn {
		padding: 0 35px;
	}
}
.primaryBtn:before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 13px 0;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	-moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	-o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	color: #fff;
}
@media (max-width: 767px) {
	.primaryBtn:before {
		padding: 8px 0;
	}
}
.primaryBtn:hover {
	background: #fff;
	border: 1px solid #e45447;
}
.primaryBtn:hover:before {
	opacity: 0;
	-webkit-transform: translate3d(0, 100%, 0);
	-moz-transform: translate3d(0, 100%, 0);
	-ms-transform: translate3d(0, 100%, 0);
	-o-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.primaryBtn:hover span {
	opacity: 1;
	color: #e45447;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.primaryBtn:hover span:nth-child(1) {
	-webkit-transition-delay: 0.01s;
	-moz-transition-delay: 0.01s;
	-o-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.primaryBtn:hover span:nth-child(2) {
	-webkit-transition-delay: 0.05s;
	-moz-transition-delay: 0.05s;
	-o-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
.primaryBtn:hover span:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.primaryBtn:hover span:nth-child(4) {
	-webkit-transition-delay: 0.15s;
	-moz-transition-delay: 0.15s;
	-o-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.primaryBtn:hover span:nth-child(5) {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.primaryBtn:hover span:nth-child(6) {
	-webkit-transition-delay: 0.25s;
	-moz-transition-delay: 0.25s;
	-o-transition-delay: 0.25s;
	transition-delay: 0.25s;
}
.primaryBtn:hover span:nth-child(7) {
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.primaryBtn:hover span:nth-child(8) {
	-webkit-transition-delay: 0.35s;
	-moz-transition-delay: 0.35s;
	-o-transition-delay: 0.35s;
	transition-delay: 0.35s;
}
.primaryBtn:hover span:nth-child(9) {
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.primaryBtn:hover span:nth-child(10) {
	-webkit-transition-delay: 0.45s;
	-moz-transition-delay: 0.45s;
	-o-transition-delay: 0.45s;
	transition-delay: 0.45s;
}
.primaryBtn:hover span:nth-child(11) {
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
.primaryBtn:hover span:nth-child(12) {
	-webkit-transition-delay: 0.55s;
	-moz-transition-delay: 0.55s;
	-o-transition-delay: 0.55s;
	transition-delay: 0.55s;
}
.primaryBtn:hover span:nth-child(13) {
	-webkit-transition-delay: 0.6s;
	-moz-transition-delay: 0.6s;
	-o-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
.primaryBtn:hover span:nth-child(14) {
	-webkit-transition-delay: 0.65s;
	-moz-transition-delay: 0.65s;
	-o-transition-delay: 0.65s;
	transition-delay: 0.65s;
}
.primaryBtn:hover span:nth-child(15) {
	-webkit-transition-delay: 0.7s;
	-moz-transition-delay: 0.7s;
	-o-transition-delay: 0.7s;
	transition-delay: 0.7s;
}
.primaryBtn:hover span:nth-child(16) {
	-webkit-transition-delay: 0.75s;
	-moz-transition-delay: 0.75s;
	-o-transition-delay: 0.75s;
	transition-delay: 0.75s;
}
.primaryBtn:hover span:nth-child(17) {
	-webkit-transition-delay: 0.8s;
	-moz-transition-delay: 0.8s;
	-o-transition-delay: 0.8s;
	transition-delay: 0.8s;
}
.primaryBtn:hover span:nth-child(18) {
	-webkit-transition-delay: 0.85s;
	-moz-transition-delay: 0.85s;
	-o-transition-delay: 0.85s;
	transition-delay: 0.85s;
}
.primaryBtn:hover span:nth-child(19) {
	-webkit-transition-delay: 0.95s;
	-moz-transition-delay: 0.95s;
	-o-transition-delay: 0.95s;
	transition-delay: 0.95s;
}
.primaryBtn:hover span:nth-child(20) {
	-webkit-transition-delay: 1s;
	-moz-transition-delay: 1s;
	-o-transition-delay: 1s;
	transition-delay: 1s;
}
.primaryBtn span {
	display: inline-block;
	padding: 12px 0;
	opacity: 0;
	color: #fff;
	-webkit-transform: translate3d(10, 10px, 0);
	-moz-transform: translate3d(10, 10px, 0);
	-ms-transform: translate3d(10, 10px, 0);
	-o-transform: translate3d(10, 10px, 0);
	transform: translate3d(10, 10px, 0);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	-moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	-o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
@media (max-width: 767px) {
	.primaryBtn span {
		padding: 8px 0;
	}
}
.primaryBtn.white {
	border: 1px solid #90acd1;
	color: #e45447;
	background: #fff;
}
.primaryBtn.white span {
	color: #222222;
}
.primaryBtn.white:before {
	color: #222222;
}
.primaryBtn.white:hover {
	background: #90acd1;
	color: #fff;
}
.primaryBtn.white:hover span {
	color: #fff;
}
