@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

#body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Montserrat !important;
}

#body svg {
	padding: 0 2px;
}

.a {
	text-decoration: none;
	color: inherit;
}
.a:hover {
	text-decoration: underline;
}
.container {
	padding: 0 10rem;
	margin: 0 auto;
}
.header {
	padding: 2rem 4rem 1rem 4rem;
	background-color: #280d47;
	color: white;
}
.heading,
.titlePhone,
.titleEmail,
.github,
.behance,
.linkedin,
.website {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
	font-size: 1rem;
}
.heading h1 {
	font-weight: normal;
}
.heading h1 span {
	font-weight: bold;
}

.github div:first-child,
.behance div:first-child,
.linkedin div:first-child,
.website div:first-child {
	font-size: small;
}
.github svg,
.behance svg,
.linkedin svg,
.website svg {
	width: 19px;
	margin-right: 22.8px;
}

.website a {
	font-weight: bold;
}

/* body section */

.body {
	padding: 2rem 4rem 1rem 4rem;
	background-color: white;
	color: white;
}

.body .aboutMe {
	width: 100%;
	display: grid;
	grid-column-gap: 40px;
	grid-template-columns: 31% 31% 31%;
	margin: 5px 0;
}

.body .aboutMe h2 {
	background-color: #280d47;
	padding: 5px 100px;
	margin-bottom: 15px;
}
.body .aboutMe .about .paragraph p {
	color: #363636;
	font-size: 14px;
	margin-bottom: 18px;
	padding: 0 4px;
}

.body .aboutMe .software .apps,
.body .aboutMe .skills .apps {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0 3rem;
}

.body .aboutMe .software .apps .app,
.body .aboutMe .skills .apps .app {
	margin-bottom: 15px;
}
.body .aboutMe .software .apps .app .appName,
.body .aboutMe .skills .apps .app .appName {
	color: #363636;
	font-weight: 500;
	margin-bottom: 8px;
}
.body .aboutMe .software .apps .app svg,
.body .aboutMe .skills .apps .app svg {
	width: 18px;
	margin-right: 17px;
}

.body .stack {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2rem;
}

.body .stack .heading {
	width: auto;
	background-color: #280d47;
	padding: 5px 120px;
	margin-bottom: 15px;
}
.body .stack .row1,
.body .stack .row2 {
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
}

.body .stack .row2 {
	width: 85%;
}

.body .stack .row1 div,
.body .stack .row2 div {
	color: #363636;
	font-weight: 700;
}
.body .stack .row1 svg,
.body .stack .row2 svg {
	width: 10px;
}
.body .expEdu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: initial;
	margin-top: 3rem;
}

.body .expEdu svg {
	width: 32px;
}
.body .expEdu .heading {
	text-align: center;
	width: auto;
	background-color: #280d47;
	padding: 5px 70px;
	margin-bottom: 4rem;
}

.body .expEdu .edu .heading {
	margin-bottom: 4rem;
}
.body .expEdu .exp {
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: initial;
	align-items: flex-end;
	padding-right: 3rem;
}

.body .expEdu .edu {
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding-left: 3rem;
}

.body .expEdu .exp .row {
	margin-bottom: 5rem;
}
.body .expEdu .edu .row {
	margin-bottom: 5rem;
}
.body .expEdu .exp h3,
.body .expEdu .edu h3,
.body .expEdu .exp div,
.body .expEdu .edu div {
	color: #280d47;
	margin-bottom: 5px;
}

.body .expEdu .exp p,
.body .expEdu .edu p {
	color: #363636;
	font-size: 14px;
}
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-6-3 22:31:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

.download {
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 3rem;
	bottom: 3rem;
	z-index: 999;
	cursor: pointer;
	background-color: #280d47;
	border-radius: 50%;
	transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.download svg {
	width: 35px;
	height: auto;
	z-index: 999;
}
.download span {
	display: none;
	margin-left: 10px;
	color: #fff;
}
.download:hover {
	width: 170px;
	border-radius: 50px;
	text-decoration: none;
}
.download:hover span {
	display: block;
}

@media (max-width: 1500px) {
	.body .aboutMe .software .apps,
	.body .aboutMe .skills .apps {
		padding: 0 2rem;
	}
}
@media (max-width: 1100px) {
	.container {
		padding: 0 0;
		margin: 0 auto;
	}
	.body .expEdu .heading {
		text-align: center;
		width: 100%;
		background-color: #280d47;
		padding: 5px 100px;
		margin-bottom: 2rem;
	}
}
@media (max-width: 800px) {
	.container {
		padding: 0 0;
		margin: 0 auto;
	}
	.header {
		padding: 2rem 4rem 1rem 4rem;
		background-color: #280d47;
		color: white;
	}
	.heading,
	.titlePhone,
	.titleEmail,
	.github,
	.behance,
	.linkedin,
	.website {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 5px 0;
		margin: 20px 0;
		text-align: center;
	}
	.heading h1 {
		font-weight: normal;
	}
	.heading h1 span {
		font-weight: bold;
	}

	.github div:first-child,
	.behance div:first-child,
	.linkedin div:first-child,
	.website div:first-child {
		font-size: small;
	}
	.github img,
	.behance img,
	.linkedin img,
	.website img {
		width: 19px;
		margin-right: 20px;
	}

	/* body section */

	.body {
		padding: 2rem 2rem 1rem 2rem;
		background-color: white;
		color: white;
	}

	.body .aboutMe {
		width: 100%;
		display: block;
		grid-column-gap: 40px;
		grid-template-columns: 31% 31% 31%;
		margin: 5px 0;
	}

	.body .aboutMe h2 {
		background-color: #280d47;
		padding: 5px 50px;
		margin-bottom: 15px;
		text-align: center;
	}
	.body .aboutMe .about .paragraph p {
		color: #363636;
		font-size: 14px;
		margin-bottom: 18px;
		padding: 0 4px;
	}

	.body .aboutMe .software .apps,
	.body .aboutMe .skills .apps {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 0 1rem;
	}

	.body .aboutMe .software .apps .app,
	.body .aboutMe .skills .apps .app {
		margin-bottom: 15px;
	}
	.body .aboutMe .software .apps .app .appName,
	.body .aboutMe .skills .apps .app .appName {
		color: #363636;
		font-weight: 500;
		margin-bottom: 8px;
	}
	.body .aboutMe .software .apps .app svg,
	.body .aboutMe .skills .apps .app svg {
		width: 18px;
		margin-right: 13px;
	}

	.body .stack {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-top: 2rem;
	}

	.body .stack .heading {
		width: 100%;
		background-color: #280d47;
		padding: 5px 60px;
		margin-bottom: 15px;
	}
	.body .stack .row1,
	.body .stack .row2 {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-top: 1rem;
	}

	.body .stack .row2 {
		width: 100%;
	}

	.body .stack .row1 div,
	.body .stack .row2 div {
		color: #363636;
		font-weight: 700;
		margin: 2px 5px;
	}
	.body .stack .row1 svg,
	.body .stack .row2 svg {
		width: 10px;
	}
	.body .expEdu {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-top: 3rem;
	}

	.body .expEdu svg {
		display: none;
	}
	.body .expEdu .heading {
		text-align: center;
		width: 100%;
		background-color: #280d47;
		padding: 5px 50px;
		margin-bottom: 2rem;
	}

	.body .expEdu .edu .heading {
		margin: 0 auto;
		margin-bottom: 2rem;
	}
	.body .expEdu .exp {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-right: 0;
	}

	.body .expEdu .edu {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: left;
		padding-left: 0;
	}

	.body .expEdu .exp .row {
		margin-bottom: 3rem;
	}
	.body .expEdu .edu .row {
		margin-bottom: 3rem;
	}
	.body .expEdu .exp h3,
	.body .expEdu .edu h3,
	.body .expEdu .exp div,
	.body .expEdu .edu div {
		color: #280d47;
		margin-bottom: 5px;
	}

	.body .expEdu .exp p,
	.body .expEdu .edu p {
		color: #363636;
		font-size: 14px;
	}

	/* download button section */

	.download {
		bottom: 2rem;
		right: 1.2rem;
	}
}
@media (max-width: 320px) {
	.container {
		padding: 0 0;
		margin: 0 auto;
	}
	.header {
		padding: 2rem 4rem 1rem 4rem;
		background-color: #280d47;
		color: white;
	}
	.heading,
	.titlePhone,
	.titleEmail,
	.github,
	.behance,
	.linkedin,
	.website {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 5px 0;
		margin: 20px 0;
	}
	.heading h1 {
		font-weight: normal;
	}
	.heading h1 span {
		font-weight: bold;
	}

	.github div:first-child,
	.behance div:first-child,
	.linkedin div:first-child,
	.website div:first-child {
		font-size: small;
	}
	.github img,
	.behance img,
	.linkedin img,
	.website img {
		width: 19px;
		margin-right: 20px;
	}

	/* body section */

	.body {
		padding: 2rem 2rem 1rem 2rem;
		background-color: white;
		color: white;
	}

	.body .aboutMe {
		width: 100%;
		display: block;
		margin: 5px 0;
	}

	.body .aboutMe h2 {
		background-color: #280d47;
		font-size: 15px;
		padding: 5px 30px;
		margin-bottom: 15px;
	}
	.body .aboutMe .about .paragraph p {
		color: #363636;
		font-size: 14px;
		margin-bottom: 18px;
		padding: 0 4px;
	}

	.body .aboutMe .software .apps,
	.body .aboutMe .skills .apps {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 0 0rem;
	}

	.body .aboutMe .software .apps .app,
	.body .aboutMe .skills .apps .app {
		margin-bottom: 15px;
	}
	.body .aboutMe .software .apps .app .appName,
	.body .aboutMe .skills .apps .app .appName {
		color: #363636;
		font-weight: 500;
		margin-bottom: 8px;
	}
	.body .aboutMe .software .apps .app svg,
	.body .aboutMe .skills .apps .app svg {
		width: 13px;
		margin-right: 13px;
	}

	.body .stack {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
	}

	.body .stack .heading {
		width: 100%;
		background-color: #280d47;
		font-size: 25px;
		padding: 5px 30px;
		margin-bottom: 15px;
	}
	.body .stack .row1,
	.body .stack .row2 {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-top: 1rem;
	}

	.body .stack .row2 {
		width: 100%;
	}

	.body .stack .row1 div,
	.body .stack .row2 div {
		color: #363636;
		font-size: 14px;
		font-weight: 700;
		margin: 2px 5px;
	}
	.body .stack .row1 svg,
	.body .stack .row2 svg {
		width: 10px;
	}
	.body .expEdu {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-top: 3rem;
	}

	.body .expEdu svg {
		display: none;
	}
	.body .expEdu .heading {
		text-align: center;
		width: 100%;
		background-color: #280d47;
		font-size: 25px;
		padding: 5px 30px;
		margin-bottom: 2rem;
	}

	.body .expEdu .edu .heading {
		margin-bottom: 2rem;
	}
	.body .expEdu .exp {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-right: 0;
	}

	.body .expEdu .edu {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-left: 0;
	}

	.body .expEdu .exp .row {
		margin-bottom: 2rem;
	}
	.body .expEdu .edu .row {
		margin-bottom: 2rem;
	}
	.body .expEdu .exp h3,
	.body .expEdu .edu h3,
	.body .expEdu .exp div,
	.body .expEdu .edu div {
		color: #280d47;
		margin-bottom: 5px;
	}

	.body .expEdu .exp p,
	.body .expEdu .edu p {
		color: #363636;
		font-size: 14px;
	}
}

.cls1 {
	fill: #280d47;
}
.cls2 {
	fill: #c4c4c4;
}
.cls3 {
	fill: #fff;
}
