.main {
	/* background-color: rgb(11, 13, 20); */
	background-color: #11161f;
	min-height: 100vh;
	position: relative;
	z-index: 5;
	background: url(../public/images/pattern_light.svg) 50% repeat;
	background-size: contain;
	/* background-color: #1f2937; */
}
.main2 {
	/* background-color: rgb(11, 13, 20); */
	background-color: #11161f;
	min-height: 100vh;
	position: relative;
	z-index: 5;
	background: url(../public/images/pattern.svg) 50% repeat;
	background-size: contain;
	/* background-color: #1f2937; */
}

.relative {
	position: relative;
}

.aboutContent {
	margin-top: 190px;
	text-align: center;
}
.aboutContent h1 {
	margin-bottom: 15px;
}
@media (max-width: 767px) {
	.aboutContent {
		margin-top: 150px;
	}
}
.aboutContent h1 {
	font-size: 60px;
	font-weight: 700;
}
@media (max-width: 767px) {
	.aboutContent h1 {
		font-size: 35px;
	}
}
.aboutContent .box {
	border: 2px solid #fff;
	padding: 10px 18px;
	border-radius: 25px;
	display: inline-block;
}
@media (max-width: 767px) {
	.aboutContent .box {
		padding: 7px 15px;
	}
}
.aboutContent .box a {
	color: inherit;
	font-size: 15px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	padding-left: 16px;
	padding-right: 16px;
	border-right: 2px solid #fff;
}
@media (max-width: 380px) {
	.aboutContent .box a {
		font-size: 13px;
	}
}
.aboutContent .box a:first-child {
	padding-left: 0;
}
.aboutContent .box a:last-child {
	border-right: 0;
	padding-right: 0;
}
.aboutContent .box a:hover {
	color: #e45447;
}

.aboutArea .sectionTitle {
	margin-bottom: 0;
}
@media (max-width: 1024px) {
	.aboutArea .sectionTitle {
		padding-bottom: 0px;
	}
}
@media (max-width: 991px) {
	.aboutArea .sectionTitle {
		margin-top: 1rem;
	}
}

.sectionGap {
	padding: 150px 0;
}
@media (max-width: 1024px) {
	.sectionGap {
		padding: 60px 0;
	}
}

.postContentArea .singlePost {
	margin-bottom: 50px;
}
/* .section-gap {
	margin-top: -30px;
} */
.postContentArea .singlePost .metaDetails {
	text-align: right;
	margin-top: 35px;
}
.blogTitle {
	font-weight: bolder;
	font-size: 36px;
	color: #e45447;
	margin-bottom: 2rem;
}
@media (max-width: 767px) {
	.postContentArea .singlePost .metaDetails {
		text-align: left;
	}
	.user-details {
		margin-top: 1.5rem !important;
	}
	.blogTitle {
		margin-top: 0.3rem !important;
		margin-bottom: 1rem !important;
	}
}
.postContentArea .singlePost .metaDetails .tags {
	margin-bottom: 30px;
}
.postContentArea .singlePost .metaDetails .tags li {
	display: inline-block;
	font-size: 14px;
}
.postContentArea .singlePost .metaDetails .tags li a {
	color: rgb(158, 158, 158);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.postContentArea .singlePost .metaDetails .tags li a:hover {
	color: #e45447;
}

@media (max-width: 1024px) {
	.postContentArea .singlePost .metaDetails {
		margin-top: 0px;
	}
}
.postContentArea .singlePost .userName a,
.postContentArea .singlePost .date a,
.postContentArea .singlePost .view a,
.postContentArea .singlePost .comments a {
	color: #ffffff;
	/* margin-right: 10px; */
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.authorImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 0.6rem;
}
.postContentArea .singlePost .userName a:hover,
.postContentArea .singlePost .date a:hover,
.postContentArea .singlePost .view a:hover,
.postContentArea .singlePost .comments a:hover {
	color: #e45447;
}
.postContentArea .singlePost .userName .lnr,
.postContentArea .singlePost .date .lnr,
.postContentArea .singlePost .view .lnr,
.postContentArea .singlePost .comments .lnr {
	font-weight: 900;
	color: #000;
}
.subtitle {
	width: 65%;
	margin: 0 auto;
	margin-bottom: 2rem;
	align-self: center;
	padding: 1rem;
	border-left: 5px solid white;
}

.subtitle p {
	margin: 0;
	font-size: 20px;
	font-style: italic;
}
.postContentArea .singlePost .featureImg {
	overflow: hidden;
	align-self: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	display: block;
	width: 65%;
	margin: 0 auto;
	/* max-width: 720px; */
	height: 400px;
}
@media (max-width: 767px) {
	.postContentArea .singlePost .featureImg {
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
		display: block;
		width: 100%;
		/* max-width: 720px; */
		height: 400px;
	}
	.subtitle {
		width: 100%;
	}
	.subtitle p {
		font-size: 18px;
	}
}
.postContentArea .singlePost .posts-title h3 {
	margin: 20px 0px;
	font-weight: 700;
}
.postContentArea .singlePost .excert {
	margin-bottom: 20px;
}
.postContentArea .singlePost .excert ul {
	margin-left: 20px;
}
.postContentArea .singlePost .excert ul li {
	margin-top: 10px;
	margin-bottom: 10px;
}
.postContentArea .singlePost .excert blockquote {
	margin-left: 20px;
	padding-left: 12px;
	border-left: 4px solid gray;
}
.postContentArea .singlePost .primary-btn {
	background: #fff !important;
	color: #222222;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	border-radius: 0px !important;
	padding: 0 32px;
	border: 0;
}
.postContentArea .singlePost .primary-btn:before {
	color: #222222;
	padding: 6px 0;
}
.postContentArea .singlePost .primary-btn span {
	padding: 6px 0;
}
.postContentArea .singlePost .primary-btn:hover {
	background: #e45447 !important;
	color: #fff !important;
}
.postContentArea .singlePost .primary-btn:hover:before {
	color: #fff;
}
.postContentArea .singlePost .primary-btn:hover span {
	color: #fff;
}
.widget-wrap {
	background: #fafaff;
	padding: 20px 0px;
	border: 1px solid #eee;
}
@media (max-width: 991px) {
	.widget-wrap {
		margin-top: 50px;
	}
}
.widget-wrap .single-sidebar-widget {
	margin: 30px 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
}
.widget-wrap .single-sidebar-widget:last-child {
	border-bottom: none;
	margin-bottom: 0px;
}
.widget-wrap .search-widget form.search-form input[type='text'] {
	color: #fff;
	padding: 10px 22px;
	font-size: 14px;
	border: none;
	float: left;
	width: 80%;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	background: #e45447;
}
.widget-wrap .search-widget ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #fff;
}
.widget-wrap .search-widget ::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff;
}
.widget-wrap .search-widget :-ms-input-placeholder {
	/* IE 10+ */
	color: #fff;
}
.widget-wrap .search-widget :-moz-placeholder {
	/* Firefox 18- */
	color: #fff;
}
.widget-wrap .search-widget form.search-form button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #e45447;
	color: white;
	font-size: 17px;
	border: none;
	cursor: pointer;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
.widget-wrap .search-widget form.search-form::after {
	content: '';
	clear: both;
	display: table;
}
.widget-wrap .user-info-widget {
	text-align: center;
}
.widget-wrap .user-info-widget img {
	width: 120px;
	height: 120px;
}
.widget-wrap .user-info-widget a h4 {
	margin-top: 40px;
	margin-bottom: 5px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.widget-wrap .user-info-widget .social-links li {
	display: inline-block;
	margin-bottom: 10px;
}
.widget-wrap .user-info-widget .social-links li a {
	color: #000;
	padding: 10px;
	font-size: 14px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.widget-wrap .user-info-widget .social-links li a:hover {
	color: #e45447;
}
.widget-wrap .popular-post-widget .popular-title {
	background: #e45447;
	color: #fff;
	text-align: center;
	padding: 12px 0px;
}
.widget-wrap .popular-post-widget .popular-post-list {
	margin-top: 30px;
}
.widget-wrap .popular-post-widget .popular-post-list .thumb img {
	width: 100%;
}
.widget-wrap .popular-post-widget .singlePost-list {
	margin-bottom: 20px;
}
.widget-wrap .popular-post-widget .singlePost-list .details {
	margin-left: 12px;
}
.widget-wrap .popular-post-widget .singlePost-list .details h6 {
	font-weight: 600;
	margin-bottom: 10px;
}
.widget-wrap .popular-post-widget .singlePost-list .details p {
	margin-bottom: 0px;
}
.widget-wrap .ads-widget img {
	width: 100%;
}
.widget-wrap .post-category-widget .category-title {
	background: #e45447;
	color: #fff;
	text-align: center;
	padding: 12px 0px;
}
.widget-wrap .post-category-widget .cat-list li {
	padding-top: 15px;
	padding-bottom: 8px;
	border-bottom: 2px dotted #eee;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.widget-wrap .post-category-widget .cat-list li p {
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 0px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.widget-wrap .post-category-widget .cat-list li a {
	color: #777777;
}
.widget-wrap .post-category-widget .cat-list li:hover {
	border-color: #e45447;
}
.widget-wrap .post-category-widget .cat-list li:hover p {
	color: #e45447;
}
.widget-wrap .newsletter-widget .newsletter-title {
	background: #e45447;
	color: #fff;
	text-align: center;
	padding: 12px 0px;
}
.widget-wrap .newsletter-widget .col-autos {
	width: 100%;
}
.widget-wrap .newsletter-widget p {
	text-align: center;
	margin: 20px 0px;
}
.widget-wrap .newsletter-widget .bbtns {
	background: #e45447;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	padding: 7px 20px;
	border-radius: 0;
}
.widget-wrap .newsletter-widget .input-group-text {
	background: #fff;
	border-radius: 0px;
	vertical-align: top;
}
.widget-wrap .newsletter-widget .input-group-text i {
	color: #ccc;
	margin-top: -1px;
}
.widget-wrap .newsletter-widget .form-control {
	border-left: none !important;
	border-right: none !important;
	border-radius: 0px;
	font-size: 13px;
	color: #ccc;
	padding: 9px;
	padding-left: 0px;
}
.widget-wrap .newsletter-widget .form-control:focus {
	box-shadow: none;
	border-color: #ccc;
}
.widget-wrap .newsletter-widget ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-size: 13px;
	color: #ccc;
}
.widget-wrap .newsletter-widget ::-moz-placeholder {
	/* Firefox 19+ */
	font-size: 13px;
	color: #ccc;
}
.widget-wrap .newsletter-widget :-ms-input-placeholder {
	/* IE 10+ */
	font-size: 13px;
	color: #ccc;
}
.widget-wrap .newsletter-widget :-moz-placeholder {
	/* Firefox 18- */
	font-size: 13px;
	color: #ccc;
}
.widget-wrap .newsletter-widget .text-bottom {
	margin-bottom: 0px;
}
.widget-wrap .tag-cloud-widget .tagcloud-title {
	background: #e45447;
	color: #fff;
	text-align: center;
	padding: 12px 0px;
	margin-bottom: 30px;
}
.widget-wrap .tag-cloud-widget ul li {
	display: inline-block;
	border: 1px solid #eee;
	background: #fff;
	padding: 4px 14px;
	margin-bottom: 10px;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.widget-wrap .tag-cloud-widget ul li:hover {
	background: #e45447;
}
.widget-wrap .tag-cloud-widget ul li:hover a {
	color: #fff;
}
.widget-wrap .tag-cloud-widget ul li a {
	font-size: 12px;
	color: black;
}

.leaveComment {
	color: white;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 1.2rem;
}
